.employers {
  position: relative;
  padding: 3rem 0;

  &__inner {
    @include breakpoint(md) {
      display: flex;
    }
  }

  &__hiring,
  &__recruitment {
    @include breakpoint(sm) {
      flex: 1;
    }
  }

  &__hiring {
    @include breakpoint(md) {
      margin-right: 2rem;
    }
  }

  &__checklist {
    padding: 0;
  }
}