.seekers {
    padding: 3rem 0;

    @include breakpoint(md) {
      padding: 6rem 0;
    }

    &__inner {
      margin-top: 3rem;

      @include breakpoint(sm) {
        display: flex;
        margin-top: 4rem;
      }
    }

    &__description {
      color: map-get($colors, dark--lighten-2);
      text-align: center;
      font-weight: 700;
    }

    &__checklist {
      flex: 1;

      @include breakpoint(md) {
        margin-right: 2rem;
      }
    }

    &__register {
      flex: 1;
    }
}