html {
  font-size: 93.75%;

  scroll-behavior: smooth; 

  @include breakpoint(md) {
    font-size: 100%;
  }
}

body {
  font-family: $font-secondary;
} 


a:link,
a:visited {
  text-decoration: none;
  color: map-get($colors, dark--lighten);
}

h1, h2, h3, h4, h5 {
  font-family: $font-primary;

  text-transform: uppercase;
}

h1, h2, h3, h4 {
  color: map-get($colors, primary);
}

.section-heading {
  display: block;

  margin: 2rem 0;

  color: map-get($colors, primary);

  font-size: 1.6rem;
  font-weight: 500;

  text-align: center;

  overflow-x: hidden;

  @include breakpoint(sm) {
    font-size: 2.2rem;
  }

 

  span {
    display: inline-block;

    position: relative;

    padding: 0 .6rem;

    @include breakpoint(sm) {
      padding: 0 1rem;
    }
    
    &::before,
    &::after {
      @include pseudo();

      top: 50%;

      height: 1px;
      width: 100%;

      background-color: map-get($colors, primary);
    }

    &::before {
      left: -100%;
    }

    &::after {
      right: -100%;
    }
  }

  &--light {
    color: map-get($colors, white);

    span {
      &::before,
      &::after {
        background-color: map-get($colors, white);
      }
    }
  }
}

.subheading { 
  margin-bottom: .5rem;
  font-size: 1.5rem; 
  font-weight: 700;

  &--light {
    color: map-get($colors, white);
  }
} 