$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Hind', sans-serif;

$colors: (
  white: #fff,
  dark: #333,
  dark--lighten: #424242,
  dark--lighten-2: #686868,
  dark--lightest: #888,
  primary: #005475,
  accent: #a52b2f,
  facebook: #3b5998,
  linkedin: #0077B5,
  // accent: #AF1D22,
);

$layers: (
  nav: 200,
  nav-toggler: 1030,
  slogan: 10,
  cookies-popup: 100,
);

$easings: (
  easeOutEx: cubic-bezier(0.19, 1, 0.22, 1),
);

