
.map-section {
  padding-top: 3rem;

  @include breakpoint(lg) {
    padding-top: 4rem; 
  }
}

.map {
  z-index: 0;
  width: 100%;
  height: 300px;
 
  @include breakpoint(sm) {
    height: 400px;
  }
}
